body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
}


.text_card {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 2.2rem;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #000;
}

.cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 50px;
}


.box {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {

  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }

}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(260px);
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rest_card {
  width: 100%;
  height: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center; flex-direction: column;
}

.rest_card a{
 color: white;
 font-size: 20px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rest_card button{
 padding: 5;
 width: 100px;
 height: 40px;
 border-radius: 30px;
 border: none;
 background-color: yellow;
 margin-top: 20px;
 cursor: pointer;
}

.confetti {
  position: absolute;
  top: 0;
  width: 10px;
  z-index: 100;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  animation: fall 5s infinite;
}

@keyframes fall {
  to {
     transform: translateY(100vh) rotate(360deg);
     opacity: 0;
 }
}